@charset "UTF-8";


* {
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
    
}

body {
    
    background-image: linear-gradient( to bottom,  #265C4B, #007566, #589A8D);
    background-attachment: fixed;
}

header {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: white;
    text-align: center;
    padding-top: 40px;
}

main {
    background-color: #589A8D;
    padding-top: 15px;
    padding-left: 15px;
    width: 600px;

    margin: auto; /*Deixando o formulário centralizado*/
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%)
    
}

.principal {
    margin-top: 3px;
    margin-bottom: 10px;
    width: 95%;
    height: 25px;
}


.informacao {
    padding-top: 3px;
    margin-top: -30px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    
}

button {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80px;
    height: 30px;
}

footer {
    background-color: black;
    color: white;
    text-decoration: none;
    text-align: center;
    position:absolute; /*Forçando o footer a ficar na parte de baixo da pagina*/
    bottom:0; /*Forçando o footer a ficar na parte de baixo da pagina*/
    width:100%; /*Forçando o footer a ficar na parte de baixo da pagina*/
}

#final {
    color: white;
}